.config/gtk-2.0/gtkfilechooser.ini
.config/gtk-3.0/bookmarks
.vim/plugged/calendar.vim
.vim/plugged/fzf
.vim/plugged/fzf.vim
.vim/plugged/nerdtree
.vim/plugged/nnn.vim
.Blackmagic_Design/
.MakeMKV/
.Xauthority
.audacity-data/
.bash_history
.bash_logout
.bashrc
.byobu/
.cache/
.cargo/
.cert/
.cfg/
.cmake/
.config/.mono/
.config/.org.chromium.Chromium.6CCqJe
.config/.vim/
.config/AM2R/
.config/AM2RLauncher/
.config/BAZECOR/
".config/BetterDiscord Installer/"
.config/BetterDiscord/
.config/Beyond-All-Reason/
".config/Blackmagic Design/"
.config/BraveSoftware/
.config/Caprine/
.config/Debauchee/
.config/Epic/
.config/GIMP/
.config/Mumble/
.config/MuseScore/
.config/QDirStat/
.config/QtProject.conf
".config/Raspberry Pi/"
.config/StardewValley/
.config/Trolltech.conf
".config/Unvanquished Development/"
.config/VirtualBox/
.config/WarThunder/
.config/aacs/
.config/afew/
.config/alsi/
.config/appimagelauncher.cfg
.config/autostart/
.config/balena-etcher-electron/
.config/baloofilerc
.config/bless/
.config/bottom/
.config/cef_user_data/
.config/celluloid/
.config/chromium/
.config/configstore/
.config/corectrl/
.config/dconf/
.config/deluge/
.config/discord/
.config/dleyna-renderer-service.conf
.config/dleyna-server-service.conf
.config/dolphin-emu/
.config/enchant/
.config/eog/
.config/evince/
.config/evolution/
.config/flameshot/
.config/flashpoint-launcher/
.config/geary/
.config/gedit/
.config/gerbera/
.config/ghb/
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/goa-1.0/
.config/google-chrome-beta/
.config/google-chrome-unstable/
.config/google-chrome/
.config/gops/
.config/goverlay/
.config/gsconnect/
.config/gtkrc
.config/gtkrc-2.0
.config/gzdoom/
.config/hexchat/
.config/htop/
.config/ibus/
.config/imapnotify/
.config/itch/
.config/jellyfin-mpv-shim/
.config/jellyfin.org/
.config/karabiner/
.config/kcminputrc
.config/kdeconnect/
.config/keepassxc/
.config/kwalletrc
.config/kwinrc
.config/libreoffice/
.config/libvirt/
.config/lsp-plugins/
.config/lutris/
.config/luxtorpeda/
.config/menus/
.config/mimeapps.list
.config/mimeapps.list.CWL3E0
.config/monitors.xml
.config/mpd/
.config/mpv/watch_later/
.config/nautilus/
.config/neofetch/
.config/nnn/
.config/nvim/.netrwhist
.config/obs-studio/
.config/okularpartrc
.config/okularrc
.config/onlyoffice/
.config/openra/
.config/openrazer/
.config/openttd/
.config/org.gabmus.giara.json
.config/pamac/
.config/pavucontrol.ini
.config/pipe-viewer/
.config/pipewire/
.config/plex-mpv-shim/
.config/plex.tv/
.config/polychromatic/
.config/pop-shell/
.config/powerupp/
.config/protonfixes/
.config/protonvpn/
.config/pulse/
.config/pulseaudio-ctl/
.config/qalculate/
.config/quodlibet/
.config/ranger/
.config/razercommander/
.config/replay-sorcery.conf
.config/retroarch/
.config/rygel.conf
.config/solaar/
.config/sqlitebrowser/
.config/stl/
.config/sway/local.conf
.config/syncthing-gtk/
.config/syncthing/
.config/systemd/
.config/systemsettingsrc
.config/totem/
.config/transmission/
.config/tuir/
.config/ukuu/
.config/unity3d/
.config/unvanquished/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vimiv/
.config/vlc/
.config/yabai/
.config/yelp/
.config/youtube-viewer/
.config/yuzu/
.cups/
.dbus/
.dhexrc
.dotfiles/COMMIT_EDITMSG
.dotfiles/FETCH_HEAD
.dotfiles/HEAD
.dotfiles/ORIG_HEAD
.dotfiles/config
.dotfiles/description
.dotfiles/hooks/
.dotfiles/index
.dotfiles/index.lock
.dotfiles/info/
.dotfiles/logs/
.dotfiles/objects/
.dotfiles/packed-refs
.dotfiles/refs/
.dotnet/
.dvdcss/
.dwarffortress/
.factorio/
.frictionalgames/
.fzf.bash
.fzf.zsh
.gitconfig
.gitignore
.gnupg/
.gtkrc-2.0
.icons/
.itch/
.java/
.klei/
.kodi/
.lazarus/
.lesshst
.local/bin/
.local/etc/
.local/include/
.local/lib/
.local/pipx/
.local/share/10tons/
.local/share/AM2RLauncher/
".local/share/American Truck Simulator/"
".local/share/Aspyr Media/"
.local/share/Celeste/
.local/share/FastFlix/
.local/share/GOG.com/
.local/share/HPE/
".local/share/Jellyfin Media Player/"
.local/share/Mumble/
.local/share/MuseScore/
.local/share/NBTExplorer.exe_Url_c2025392721f123f2aa1f68a530481294865ef87/
.local/share/NuGet/
.local/share/PacketTracer/
.local/share/Steam/
.local/share/Trash/
".local/share/Valve Corporation/"
.local/share/apktool/
.local/share/appimagekit_6dec6d4be2396c2c18b608b651f18184_icons
.local/share/appimagekit_956dc9982b8eb9e3d990478317e7ace2_icons
.local/share/applications/
.local/share/arc-menu/
.local/share/aspyr-media/
.local/share/aurorae/
.local/share/baloo/
.local/share/barrier/
.local/share/color-schemes/
.local/share/dbus-1/
.local/share/desktop-directories/
.local/share/doc/
.local/share/dolphin-emu/
.local/share/epiphany/
.local/share/evolution/
.local/share/flatpak/
.local/share/folks/
.local/share/fonts/
.local/share/geary/
.local/share/gedit/
.local/share/gnome-settings-daemon/
.local/share/gnome-shell/
.local/share/grilo-plugins/
.local/share/gsettings-data-convert
.local/share/gvfs-metadata/
.local/share/icc/
.local/share/icons/
.local/share/jellyfinmediaplayer/
.local/share/keyrings/
.local/share/keystore/
.local/share/knewstuff3/
.local/share/knucklecracker/
.local/share/kpeople/
.local/share/kpeoplevcard/
.local/share/kservices5/
.local/share/kwalletd/
.local/share/kwin/
.local/share/libvirt/
.local/share/lutris/
.local/share/man/
.local/share/maps-places.json
.local/share/metro_3/
.local/share/mime/
.local/share/nautilus-python/
.local/share/nautilus/
.local/share/nemo-python/
.local/share/nvim/shada/
.local/share/nvim/site/autoload/plug.vim.old
.local/share/nvim/swap/
.local/share/okular/
.local/share/onlyoffice/
.local/share/orca/
.local/share/plexmediaplayer/
.local/share/qalculate/
.local/share/recently-used.xbel
.local/share/recently-used.xbel.NDJIZ0
.local/share/reshade/
.local/share/servicemenu-download/
.local/share/session_migration-pop
.local/share/session_migration-pop-wayland
.local/share/tracker/
.local/share/tuir/
.local/share/unvanquished/
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
.local/share/vlc/
.local/share/vulkan/
.local/share/wallpapers/
.local/share/webkitgtk/
.local/share/xorg/
.local/share/yuzu/
.local/state/
.minecraft/
.mono/
.mozilla/
.mpdconf
.mplayer/
.npm/
.nuget/
.oh-my-zsh/
.pam_environment
.paradoxlauncher/
.pipewire-media-session/
.pki/
.profile_vkbasalt.bkp
.python_history
.selected_editor
.spring/
.springlobby/
.ssh/
.steam/
.steampath
.steampid
.stellarium/
.subversion/
.tmux.conf
.var/
.vim/plugged/
.vim/plugins.vim
.viminfo
.wget-hsts
.wine/
.xonotic/
.yarnrc
.zcompdump-Desktop-5.8
.zoom/
.zsh_history
.zshenv
.zshrc.pre-oh-my-zsh
Desktop/
Documents/
Downloads/
Games/
HDDs/
Music
"My Games/"
Pictures/
Raise/
SSDs/
Sync/
Videos/
Zomboid/
appimage/
bin/
gPodder/
go/
vimwiki/
